.bg-primary,
.table,
a.dark {
	color: #1A212C;
}

.bg-dark,
.bg-dark h2,
.bg-dark h3 {
	color: white;
}

.img-logo {
	margin-top: 60px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.btn-audio {
	margin-top: 20px;
	color: white;
    background-color: #1D7872;
}

.btn-audio:hover {
    background-color: #1A212C;
    color: white;
}

.table thead {
	font-size: 1.1em;
	color: white;
	background-color: #1A212C;
}

.table tfoot {
	font-size: 1.2em;
	color: white;
	background-color: #1D7872;
}

img.phases {
	border-color: #1A212C;
	border-width: 2px;
	border-style: solid;
	margin-top: 40px;
}

.margin-top {
	margin-top: 50px;
}

.margin-right {
	margin-right: 20px;
}
